body {
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: grayscale;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: #333;
  line-height: 1.4;
}

img {
  image-orientation: from-image;
}

::selection {
  background: #333;
  color: #fff;
}
::-moz-selection {
  background: #333;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border: 0px none #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

::-webkit-scrollbar-thumb:active {
  background: #aaa;
}

::-webkit-scrollbar-track {
  border: 0px none #fff;
  border-radius: 0;
  background: #fff;
}

::-webkit-scrollbar-track:hover {
  background: #f7f7f7;
}

::-webkit-scrollbar-track:active {
  background: #fff;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
img {
  max-width: 100%;
  height: auto;
}
.clear,
.clearfix:before,
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.ui.container {
  width: 100%;
  padding: 0 2rem;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.28571429rem;
}

.leaflet-popup-content {
  margin: 0;
}

.sample-popup {
  padding: 1rem;
}

.simple-marker {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.ui.dimmer {
  z-index: 10002;
}

.ui.page.dimmer {
  top: 0;
  bottom: 0;
}

.ui.dimmer .ui.modal {
  margin: 3.5rem auto !important;
}

.notifications-wrapper .notifications-tr {
  z-index: 99999 !important;
}

@media only screen and (max-width: 1199px) {
  .ui.container {
    padding: 0 1rem;
  }
}
